{% extends "layout.html" %}
{% load static %}

{% block navbar %}
	<li role="presentation"><a href="/">Home</a></li>
	<li role="presentation" class="active"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}

{% block content %}
	<div class="col-md-6">
  	<h1>About the Band</h1>

  	<!-- About Ryan--> 
  	<div class="row">
  		<div class="col-sm-4 col-md-4">
    		<div class="thumbnail">
      			<img src="{% static "ryan.jpg" %}" alt="Ryan">
      			<div class="caption">
        			<h2>Ryan Dooley</h2>
        			<h3>Guitar</h3>
        			<p>Originally from Santa Clarita, California, most people call Ryan by his last name. He learned to play guitar, later than most would expect, in his teens. When he is not on tour you will find him doing any number of mundane activities such as playing video games, watching movies, or going out with friends.</p>
        			<p>Follow Ryan on <a href="https://www.facebook.com/ryan.dooley.520">Facebook</a></p>
      			</div>
    		</div>
  		</div>
	

	<!-- About Dylan--> 
  	
  		<div class="col-sm-4 col-md-4">
    		<div class="thumbnail">
      			<img src="{% static "dylan.jpg" %}" alt="Mugshot">
      			<div class="caption">
        			<h2>Dylan Grayson</h2>
        			<h3>Rapper Vocals</h3>
        			<p>From Newbury Park, Dylan spent his days spitting mad flows. The viscous rhyme fluid flows freely from Dylan's mouth, as he prepares for the pinnacle moment in his career when he can go solo. Dylan's unconventional raps have started to receive critical acclaim in Japan, and the US culture always adopts from the Japanese culture.</p>

                <p>Follow Dylan on <a href="http://www.twitter.com">Twitter</a></p>

      			</div>
    		</div>
  		</div>
	

	<!-- About Justin--> 
  	
  		<div class="col-sm-4 col-md-4">
    		<div class="thumbnail">
      			<img src="{% static "justin.jpg" %}" alt="Justin">
      			<div class="caption">
        			<h2>Justin Liddicoat</h2>
        			<h3>Drums</h3>
        			<p>Originally from Phoenix, Arizona Justin joined the band as an alternative to college. He learned to play the drums as a hobby on the side of school. When not on tour he enjoys playing games, hanging out with friends, or relaxing.</p>
      			</div>
    		</div>
  		</div>
	

	<!-- About Keith--> 
  	
  		<div class="col-sm-4 col-md-4" style="margin-left:1px;">
    		<div class="thumbnail">
      			<img src="{% static "Keith Saunders.jpg" %}" alt="Keith">
      			<div class="caption">
        			<h2>Keith Saunders</h2>
        			<h3>Tenor Saxophone</h3>
        			<p>Born in Lancaster, California, Keith lived all over the world. The one thing that never changed in his life or that he always had was his Tenor Saxophone. He practiced all the time and casually played in a Jazz band. After being saved, by the Recursively Apathetic Band, Keith decided to join them. Other than playing his saxophone, Keith is seen socializing or being a bump on a log.</p>
					<p>Follow Keith on <a href="https://www.facebook.com/keith.saunders.79">Facebook</a></p>
				</div>
    		</div>
  		</div>
	

	<!-- About Austin--> 
  	
  		<div class="col-sm-4 col-md-4">
  		<div class="thumbnail">
      			<img src="{% static "austin.jpg" %}" alt="Austin">
      			<div class="caption">
        			<h2>Austin Abhari</h2>
        			<h3>Bass/Electric Triangle</h3>
        			<p>From Simi Valley California, Austin knew he wanted to be in a band at a young age. At age 4, Austin played at a 1st grade talent show and was instantly hooked. From there he played at sold out crowds at class mandatory school rallys, and often wore fedoras. Austin and friends then joined up to create Recursively Apathetic, and the rest... <b><br><br> was history. </b></p>
      			</div>
    		</div>
  		</div>
	</div>
	</div>
{% endblock %}
