{% extends "layout.html" %}
{% load static %}

{% block navbar %}
	<li role="presentation"><a href="/">Home</a></li>
	<li role="presentation" class="active"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}

{% block content %}
	<div class="col-md-6">
  	<h1>About the Band</h1>

  	<!-- About Ryan--> 
  	<div class="row">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="{% static "ryan.jpg" %}" alt="Ryan">
      			<div class="caption">
        			<h2>Ryan Dooley</h2>
        			<h3>Guitar</h3>
        			<p>Originally from Santa Clarita, California, most people call Ryan by his last name. He learned to play guitar, later than most would expect, in his teens. When he is not on tour you will find him doing any number of mundane activities such as playing video games, watching movies, or going out with friends.</p>
        			<p>Follow Ryan on <a href="https://www.facebook.com/ryan.dooley.520">Facebook</a></p>
      			</div>
    		</div>
  		</div>
	

	<!-- About Dylan--> 
  	
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="..." alt="...">
      			<div class="caption">
        			<h2>Dylan Grayson</h2>
        			<h3>Instrument</h3>
        			<p>This is just a test</p>
      			</div>
    		</div>
  		</div>
	

	<!-- About Justin--> 
  	
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="..." alt="...">
      			<div class="caption">
        			<h2>Justin Liddicoat</h2>
        			<h3>Instrument</h3>
        			<p>This is just a test</p>
      			</div>
    		</div>
  		</div>
	

	<!-- About Kieth--> 
  	
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="..." alt="...">
      			<div class="caption">
        			<h2>Kieth Saunders</h2>
        			<h3>Instrument</h3>
        			<p>This is just a test</p>
      			</div>
    		</div>
  		</div>
	

	<!-- About Austin--> 
  	
  		<div class="col-sm-6 col-md-6">
  		<div class="thumbnail">
      			<img src="{% static "austin.jpg" %}" alt="Austin">
      			<div class="caption">
        			<h2>Austin Abhari</h2>
        			<h3>Bass/Electric Triangle</h3>
        			<p>From Simi Valley California, Austin knew he wanted to be in a band at a young age. At age 4, Austin played at a 1st grade talent show and was instantly hooked. From there he played at sold out crowds at class mandatory school rallys, and often wore fedoras. Austin and friends then joined up to create Recursively Apathetic, and the rest... <b><br><br> was history. </b></p>
      			</div>
    		</div>
  		</div>
	</div>
	</div>
{% endblock %}
