{% extends "layout.html" %}
{% load static %}

{% block navbar %}
	<li role="presentation"><a href="/">Home</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
	<li role="presentation" class="active"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
  	<h1>Albums to Dig Your Grave to</h1>
</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail">
    		<h2>REcursion EP</h2>
      		<img src="{% static "recursionagain.jpg" %}" alt="REcursion">
      		<div class="caption">
        		<p></p>
      		</div>
    	</div>
 	</div>

 	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail">
    		<h2>i++</h2>
      		<img src="{% static "RecursiveAlbumCover.jpg" %}" alt="RecursionAlbumCover">
      		<div class="caption">
        		<p><body>

	<h3><b>i++ Track List</b></h3>

		<ul style="list-style-type:circle">
			<li>Don't Stop the Recursion.</li>
			<li>Ain't nobody messing with my loops</li>
			<li>No sunshine when she codes.</li>
			<li>The ballet of James Palmer</li>
			<li>Global Variables </li>
		</ul>  

	</body></p>
      		</div>
    	</div>
 	</div>

 	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail">
    		<h2>If I Were To Do It All Again.</h2>
      		<img src="{% static "yodawg.jpg" %}" alt="yodawg">
      		<div class="caption">
        		<p><body>

	<h4><b>If I Were To Do It All Again. Track List</b></h4>

		<ul style="list-style-type:circle">
		<li>How About a Nice Method Call?</li>
		<li>The Try, and the Catch</li>
		<li>Power Shell 101</li>
		<li>Can you just love my variables?</li>
		<li>The last for first</li>
	</ul>  

	</body></p>
      		</div>
    	</div>
 	</div>
 </div>
{% endblock %}