{% extends "layout.html" %}

{% block navbar %}
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
    <li role="presentation"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
    <li role="presentation"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}
{% block content %}
<div class="container">
  	<div class="jumbotron" style="margin: 0 auto; width: 50%;">
    	<h1>Recursively Apathetic</h1>

    	<div class="container" style="background-color: #dddddd;">
	<p>A Progressive DeathRap Band from Flagstaff, AZ. Recursively Apathetic started as an experimental ambient noise band, but quickly switched to freeform jazz, before adopting their iconic deathrap sound. Dylan, Austin, and Dooley met at a concert in the park for a Teen Taylor Swift cover band, and later met Keith and Justin after saving them from their deaths on top of Niagara Falls. As Keith and Justin raced towards the edge of the falls in a two pickle barrels tied together, Austin used his triangle tied to the end of a stick to hook the barrels and drag them to safety. Dylan called the National Park officials, but Dooley resuscitated them before they drowned.</p>
	</div>
	</div>
</div>

{% endblock %}

