{% extends "layout.html" %}

{% block navbar %}
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
    <li role="presentation"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
    <li role="presentation"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}
{% block content %}
  	<div class="col-md-6">
    	<h1>Recursive Apathy</h1>
	</div>
{% endblock %}

