{% extends "layout.html" %}

{% block navbar %}
	<li role="presentation"><a href="/">Home</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
	<li role="presentation" class="active"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}

{% block content %}
<div class="table-responsive">
	<h1>Tour Dates</h1>
  	<table class="table">
  		<th class="table-head">
  			<td><b>Date</b></td>
  			<td><b>Venue</b></td>
  			<td><b>City</b></td>
  			<td><b>Tickets</b></td>
  		</th>
  		<tr>
  			<td></td>
  			<td>3/14/15</td>
  			<td>Target Electronics Section</td>
  			<td>Flagstaff, AZ</td>
  			<td><a>Get Tickets</a></td>
  		</tr>
   		<tr>
   			<td></td>
  			<td>3/29/15</td>
  			<td>McDonalds Drive-Thru</td>
  			<td>Flagstaff, AZ</td>
  			<td><a>Get Tickets</a></td>
  		</tr>
    	<tr>
   			<td></td>
  			<td>4/17/15</td>
  			<td>Subway Kitchen at the Dub</td>
  			<td>Flagstaff, AZ</td>
  			<td><a>Get Tickets</a></td>
  		</tr>
  		<tr>
   			<td></td>
  			<td>5/1/15</td>
  			<td>Cemetary</td>
  			<td>Flagstaff, AZ</td>
  			<td><a>Get Tickets</a></td>
  		</tr>
</div>
{% endblock %}