{% extends "layout.html" %}
{% block navbar %}
	<li role="presentation"><a href="/">Home</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.bio' %}">The Band</a></li>
	<li role="presentation"><a href="{% url 'Project1.views.disc' %}">Discography</a></li>
	<li role="presentation" class="active"><a href="{% url 'Project1.views.tour' %}">Tour Dates</a></li>
{% endblock %}
{% block content %}

<center>

  	<h1>Recursively Apathetic Tour Dates</h1>
<div class="container">
<div class="table-responsive">
    <table class="table">
      <th class="table-head">
        <td><b>Date</b></td>
        <td><b>Venue</b></td>
        <td><b>City</b></td>
        <td><b>Tickets</b></td>
      </th>
      <tr>
        <td></td>
        <td>3/14/15</td>
        <td>Target Electronics Section</td>
        <td>Flagstaff, AZ</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>3/29/15</td>
        <td>McDonalds Drive-Thru</td>
        <td>Flagstaff, AZ</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>4/17/15</td>
        <td>Subway Kitchen at the Dub</td>
        <td>Flagstaff, AZ</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>5/1/15</td>
        <td>Cemetary</td>
        <td>Flagstaff, AZ</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>5/11/15</td>
        <td>Lilypot Lounge</td>
        <td>Dunson, OH</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>5/15/15</td>
        <td>Mondo Saloon</td>
        <td>Rubberneck, AK</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>5/20/15</td>
        <td>Juju</td>
        <td>Tucson, AZ</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>5/25/15</td>
        <td>Beer Bunker Restaurant</td>
        <td>Bradley Cooper, MI</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>6/4/15</td>
        <td>Letterback Tap</td>
        <td>House, MD</td>
        <td><a>Get Tickets</a></td>
      </tr>
      <tr>
        <td></td>
        <td>6/20/15</td>
        <td>Martian Pub</td>
        <td>Branson, MO</td>
        <td><a>Get Tickets</a></td>
      </tr>
    </div>
  </div>

</center>
{% endblock %}
